.filter_tag_message{
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.filter_tag{
    color: dodgerblue;
    font-style: oblique;
    text-decoration: underline;
}

.all_posts{
    width: 700px;
    float: left;
    margin-top: 40px;
}

.post {
    padding: 25px 35px 25px 35px;
    background-color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.post_title{
    width: 100%;
}

.post_title a{
    text-decoration: none;
    color: dodgerblue;
}

.post_title a:hover .title_head{
    color: #1b81e5;
}

.title_head{
    font-weight: bolder;
    font-size: 23px;
}

.subheader{
    padding-left: 28px;
    color: grey;
    font-size: 12px;
}

.author, .created_at{
    font-style: oblique;
    font-weight: bolder;
}

.post_footer{
    font-size:13px;
}

.tags{
    color: gray;
}

.tag_category{
}

.tag_category a{
    padding: 2px 6px 2px 6px;
    margin-top 10px;
    margin-left: 5px;
    background-color: orange;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    color: black;
}

.tag_category a:hover{
    background-color: #ffb732;
}

.pagination{
    margin-top: 20px;
}

.newer_posts{
    padding-left: 45px;
    float: left;
}

.older_posts{
    padding-right: 45px;
    float: right;
}

.older_posts a, .newer_posts a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.older_posts a:hover, .newer_posts a:hover{
    color: dimgray;
}

.no_post_found{
    height: 300px; 
    text-align: center; 
    line-height: 250px;
    font-size: 20px;
    color: red;
}