.all_posts{
    width: 700px;
    float: left;
}

.post {
    padding: 25px 35px 25px 35px;
    background-color: white;
    margin-top: 40px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.post_title{
    width: 100%;
}

.post_title a{
    text-decoration: none;
    color: dodgerblue;
}
.title_head{
    font-weight: bolder;
    font-size: 23px;
}

.subheader{
    padding-left: 28px;
    color: grey;
    font-size: 12px;
}

.author, .created_at{
    font-style: oblique;
    font-weight: bolder;
}

.post_footer{
    font-size:13px;
}

.tags{
    color: gray;
}

.tag_category{
    padding: 2px 6px 2px 6px;
    margin-top 10px;
    margin-left: 5px;
    background-color: orange;
    color: black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 20px;
}

.pagination{
    margin-top: 20px;
}

.newer_posts{
    padding-left: 45px;
    float: left;
}

.older_posts{
    padding-right: 45px;
    float: right;
}

.older_posts a, .newer_posts a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.older_posts a:hover, .newer_posts a:hover{
    color: dimgray;
}


