.post {
    padding: 25px 35px 25px 35px;
    background-color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.post_title{
    width: 100%;
}

.post_title a{
    text-decoration: none;
    color: steelblue;
}

.post_title a:hover .title_head{
    color: #1b81e5;
}

.title_head{
    font-weight: bolder;
    font-size: 23px;
}

.subheader{
    padding-left: 28px;
    color: grey;
    font-size: 12px;
}

.author, .created_at{
    font-style: oblique;
    font-weight: bolder;
}

.post_footer{
    font-size:13px;
}

.tags{
    color: gray;
}

.tag_category{
}

.tag_category a{
    padding: 2px 6px 2px 6px;
    margin-top 10px;
    margin-left: 5px;
    background-color: orange;
    border-radius: 4px;
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    color: black;
}

.tag_category a:hover{
    background-color: #ffb732;
}

.post_more{
    text-align: right;
}

.post_more a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}