.blog_sidebar{
    width: 220px;
    float: right;
    margin: 20px auto;
    background-color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.blog_sidebar a{
    text-decoration: none;
}

.sidebar_component{
        padding-left: 55px;
        margin-bottom: 25px;
}

.sidebar_title{
    margin-top: 25px;
    color: steelBlue  ;
    font-size: 20px;
    font-weight: bolder;
}

.sidebar_subtitle{
    font-size: 14px;
    color: dimgray;
    font-weight: bold;
    margin-top: 15px;
    font-style : oblique;
}

.sidebar_item{
    padding-top: 5px;
}

.sidebar_item a{
    color: gray;
}

.active_item .item_title{
    color: dodgerblue;
}
.active_item .item_count{
    background-color: orange;
}

.item_title{
    vertical-align: middle;
}

.item_count{
    font-size: 10px;
    background-color: gray;
    width: 25px;
    height: 15px;
    padding: 3px 6px 3px 6px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.sidebar_item a:hover{
    color: dimgray;
}

.sidebar_component a:hover .item_count{
    background-color: dimgray;
}

.active_item a:hover .item_count {
    background-color: orange;
}
