.social{
    width: 250px;
    margin-top: 40px;

    float: right;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.sicons{
    float:left;
}
.social-list{
    padding-top: 10px;
    list-style: none;
}

.social-list li{
    display: inline;
    padding-right: 15px;
}

.logo{
    margin-right: 30px;
    margin-top: 10px;
    float:right;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 15px;
    background: url(http://localhost:8000/static/img/ozmaxtech2.jpg) no-repeat;
    background-size: 100px 100px;

}

.brandname{
    font-family: 'Devonshire', cursive;
    font-size: 26px;
    text-align: center;

}