.social{
    width: 210px;
    margin-top: 40px;
    float: right;
    background-color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.sicons{
    width: 100%;
}

.social-list ul{
    list-style-type: none;
}

.social-list li{
    display: inline;
    font-size: 16px;
    padding-left: 8px;
}

.logo{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: url(/static/img/ozmaxtech2.jpg) no-repeat;
    background-size: 150px 150px;
}
