<div class="social">
    <div class="sicons">
        <ul class="social-list">
            <li>
                <a href="#"><i style="color:black;" class="fa fa-lg fa-github"></i></a>
            </li>
            <li>
                <a href="#"><i style="color:orange;" class="fa fa-lg fa-stack-overflow"></i></a>
            </li>
        </ul>
        <ul class="social-list">
            <li><i style="color:darkblue;" class="fa fa-lg fa-facebook-official"></i></li>
            <li><i style="color:red;" class="fa fa-lg fa-youtube"></i></li>
        </ul>
    </div>
    <div class="logo"></div>
    <div class="clearfix"></div>
    <div class="brandname">OzmaX Tech</div>
</div>