.filter_term_message{
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.filter_term{
    color: dodgerblue;
    font-style: oblique;
}

.all_posts{
    width: 700px;
    float: left;
    margin-top: 40px;
}

.pagination{
    margin-top: 20px;
}

.newer_posts{
    padding-left: 45px;
    float: left;
}

.older_posts{
    padding-right: 45px;
    float: right;
}

.older_posts a, .newer_posts a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.older_posts a:hover, .newer_posts a:hover{
    color: dimgray;
}

.no_post_found{
    height: 300px;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    color: red;
}

.back_home{
    margin-bottom: 10px;
}

.back_home a{
    font-size: 14px;
    text-decoration: none;
    color: gray;
}

.back_home a:hover{
    color: dimgray;}
