{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="all_posts">
	   {% for post in posts %}
            <div class="post">
                <div class="post_title">
                    <a href="{{post.slug}}">
                    <span class="title_head"><i class="fa fa-arrow-circle-right"></i> {{post.title}}</span>
                    <br>
                    <span class="subheader">
                        <i class="fa fa-level-up fa-rotate-90"></i>
                        by
                        <span class="author">{{post.author.nickname}}</span>
                        at 
                        <span class="created_at">{{ post.created_at }}</span>
                        </span>
                    </a>
                    <hr>

                </div>
                <div class="blog_content">
                    {{post.content | safe}}
                </div>
                <hr>
                <div class="post_footer">
                <span class="tags"><i class="fa fa-tags"></i>Tags</span>
                {% for category in post.categories.all %}
                    <span class="tag_category">
			            {{ category.name }}
                    </span>
                {% endfor %}
                </div>

            </div>
	   {% endfor %}
    </div>
{% include 'blog/sidebar.html' %}
{% endblock %}
