{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

{% endblock %}

{% block content %}
    <div class="all_posts">
        
    {% if 'tag' in request.path and posts or 'archive' in request.path and posts %}
        <div class="filter_term_message">
           <a href="{% url 'home' %}"><i style="color:red;" class="fa fa-times-circle"></i></a> Posts filtered by: <span class="filter_term">{{ filter_term }}</span>
        </div>
    {% endif %}
	   {% for post in posts %}
            <div class="post">
                <div class="post_title">
                    <a href="{% url 'single_post' post.slug %}">
                        <span class="title_head"><i class="fa fa-arrow-circle-right"></i> {{ post.title }}</span>
                    </a>
                        <br>
                        <span class="subheader">
                        <i class="fa fa-level-up fa-rotate-90"></i>
                        by
                        <span class="author">{{ post.author.nickname }}</span>
                        at
                        <span class="created_at">{{ post.created_at }}</span>
                        </span>
                    <hr>

                </div>
                <div class="blog_content">
                    {{post.content | safe}}
                </div>
                <hr>
                <div class="post_footer">
                <span class="tags"><i class="fa fa-tags"></i>Tags</span>
                {% for category in post.categories.all %}
                    <span class="tag_category">
			            <a href="{% url 'posts_by_tag'  category.name %}">{{ category.name }}</a>
                    </span>
                {% endfor %}
                </div>

            </div>
        {% empty%}
            <div class="post">
                <div class="no_post_found">
                    <a href="{% url 'home' %}"><i style="color:red;" class="fa fa-times-circle"></i></a> No posts found with filter: <span class="filter_term">{{ filter_term }}</span> 
                </div>
            </div>
	   {% endfor %}
        <div class="pagination">
            <span class="newer_posts">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-double-left"></i> newer posts</a>
                {% else %}
                    <a style="pointer-events: none;"> newest</a>
                {% endif %}
            </span>
            <span class="older_posts">
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">older posts <i class="fa fa-angle-double-right"></i></a>
                {% else %}
                    <a style="pointer-events: none;"> oldest</a>
                {% endif %}
            </span>
            <div class="clearfix"></div>
        </div>
    </div>
{% include 'blog/social.html' %}
{% include 'blog/sidebar.html' %}
{% endblock %}
