{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}
    <div class="all_posts">
            {% if request.path not in request.META.HTTP_REFERER %}
                <div class="back_home">
                    <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-caret-left"></i> Go back</a>
                </div>
            {% endif %}
        {% include 'blog/post.html' %}
    </div>
    {% include 'blog/social.html' %}
    {% include 'blog/sidebar.html' %}
{% endblock%}
